#title {
  color: crimson;
  font-size: 30px;
}

span {
  color: green;
}
.text {
  font-size: 20px;
}
.paragraph {
  color: rgb(34, 34, 102);
}

.red {
  color: red;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.blue {
  color: blue;
}
.text .block {
  color: darkorange;
}
.about-text,
.section {
  color: firebrick;
}
